.username {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: #ffffff;
    z-index: 1;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
}

p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/img/index.jpg');
    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343a40;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    .links a {
        background-color: #007bff;
        color: #ffffff;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 10px 20px;
        border-radius: 10px;
        margin: 10px 0;
        text-align: center;
        width: 100%;
        max-width: 300px;
    }

        .links a:hover {
            background-color: #0056b3;
        }

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}


#logout-button {
    background-color: red !important;
    color: white !important;
    border: none;
}

    #logout-button:hover {
        background-color: darkred !important;
    }
